h1 { margin: 2em 0 1em 0; }

#setupdotpy_modal { background: #fff; padding: 20px; position: fixed; top: 20%; left: 50%;  border: 1px solid #333; }

#setup_required_fields label { margin-top: 1em; }
#setup_required_fields .help-block { margin-top: -10px; display: block; }

pre { width: 100%; }

.errors {
    background-color: red;
    padding: 4px;
}
ul.errors {
    list-style: none;
    margin: 0;
}

#setup input[type=text], #setup select, #setup textarea { width: 660px; }

#setup #classifiers { height: 200px; }

#setup .edit { display: none; }

#setup .btn-large { margin: 0 20px 0 0; }
