#setupdotpy_modal { background: #fff; padding: 20px; position: fixed; top: 20%; left: 50%;  border: 1px solid #333; }

#setup_required_fields label { margin-top: 1em; }
#setup_required_fields .help-block { margin-top: -10px; display: block; }
