<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">

    <title>{% block title %}ez-cheese: The cheese shop's setup.py generator{% endblock %}</title>
    <link rel="stylesheet" href="/static/ez.css" media="screen">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ez.js"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
