{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="span6 offset3">
        <h1>ez-cheese</h1>
        <h2>setup.py generator</h2>
        <form id="form_setupdotpy" method="post" class="form-vertical" action="/">
            <fieldset id="setup_required_fields">
                <label>Git or Mercurial URL
                    <input class="span6" id="version_control" name="version_control" type="text" value="{{ data.version_control }}">
                    <span class="help-block">(Github or Bitbucket are the best supported)</span>
                </label>
            </fieldset>

            <fieldset id="actions">
                {% if errors %}
                    <div class="errors"><p>Please correct the above errors</p></div>
                {% endif %}
                <input class="btn-primary btn-large" type="submit" value="Generate">
                <a href="/manual/">Skip, manually specify</a>
            </fieldset>
        </form>
    </div>
 </div>
{% endblock content %}
