{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="span6 offset3">
        <h1>ez-cheese</h1>
        <h2>setup.py generator</h2>
        <form id="form_setupdotpy" method="post" class="form-vertical" action="/">
            {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                <li>Error: {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <fieldset id="setup_required_fields">
                <label>Git or Mercurial URL
                    <input class="span6" id="repo_url" name="repo_url" type="text" value="{{ data.repo_url }}">
                    <span class="help-block">(Github or Bitbucket are the best supported)</span>
                </label>
            </fieldset>

            <fieldset id="actions">
                {% if errors %}
                    <div class="errors"><p>Please correct the above errors</p></div>
                {% endif %}
                <input class="btn-primary btn-large" type="submit" value="Generate">
                <a id="skip" class="pull-right" href="/manual/">Skip, manually specify</a>
            </fieldset>
        </form>
    </div>
 </div>
{% endblock content %}
