{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="span6 offset3">
        <h1>ez-cheese</h1>
        
        <p>Generate a setup.py for your Python project. If it has a public Git
        or Mercurial repository, enter its URL below in order to detect
        the project settings.</p>
        
        <p>Or skip this step and go to <a href="/manual/">manual entry</a>.</p>
        
        <form id="form_setupdotpy" method="post" class="form-vertical" action="/" autocomplete="on">
            {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                <li>Error: {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <fieldset id="setup_required_fields">
                <label>Public source code URL
                    <input class="span6" id="repo_url" name="repo_url" type="text" value="{{ data.repo_url }}">
                </label>
                <label>URL type
                    <select class="span6" id="repo_type" name="repo_type" type="text" value="{{ data.repo_type }}">
                        <option value="git">Git</option>
                        <option value="hg">Mercurial</option>
                    </select>
                </label>
            </fieldset>

            <fieldset id="actions">
                {% if errors %}
                    <div class="errors"><p>Please correct the above errors</p></div>
                {% endif %}
                <input class="btn-primary btn-large" type="submit" value="Generate">
                <a id="skip" class="pull-right" href="/manual/">Skip, manually specify options</a>
            </fieldset>
        </form>
    </div>
 </div>
{% endblock content %}
