{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1>ez-cheese</h1>
        <h2>setup.py generator</h2>
        <form id="form_setupdotpy" method="post" class="form-vertical">
            <fieldset id="setup_required_fields">
                <label>Package Name
                    <input class="span6" id="input_package_name" name="name" type="text" size="30">
                </label>
                <label>Version
                    <input class="span6" id="input_package_version" name="version" type="text" size="8">
                </label>
                <label>Description
                    <input class="span6" id="input_package_summary" name="description" type="text" size="80">
                    <span class="help-block">Short, summary description of the package</span>
                </label>
                <label>Long Description
                    <textarea class="span6" id="textarea_package_longdesc" name="long_description" cols="40" rows="4"></textarea>
                    <span class="help-block">Used by <abbr title="Python Package Index">PyPI</abbr> when
                        you are registering a package, to build its home page.</span>
                </label>
                <label>Packages to include
                    <input class="span6" id="textarea_package_packages" name="packages" size="80">
                    <span class="help-block">Separate names with commas</span>
                </label>
                <label>Modules to include
                    <input class="span6" id="textarea_package_modules" name="modules" size="80">
                    <span class="help-block">Separate names with commas</span>
                </label>
            </fieldset>

            <fieldset id="actions">
                {% if errors %}
                    <div class="errors"><p>Please correct the above errors</p></div>
                {% endif %}
                <input class="btn-primary btn-large" type="submit" value="Generate">
            </fieldset>
        </form>
    </div>
 </div>

{% endblock content %}
