{% extends "base.html" %}

{% block extra_head %}
    <link href="/static/pretty/prettify.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/pretty/prettify.js"></script>
{% endblock %}

{% block content %}

    <script>
    $(window).ready(function() {
        prettyPrint();
    });
    </script>

    <div class="row">
        <div class="span12">
            <form id="setup" method="post">
                <pre class="prettyprint">
{{ setup.generate() }}
                </pre>
                <input class="btn-primary btn-large" type="submit" value="Update">
            </form>
        </div>
    </div>

{% endblock content %}
